body {
    font-family: Avenir;
}

p{
    font-size: 18px;
}

li{
    font-size:16px;
}

a {
    text-decoration: underlined;
    color: black;
}

.me {
	height: 100px;
	width: 100px;
	border-radius:50%;	
}

.sidebar {
    float:left;
    outline:1px solid red;
    width: 19%;
    box-sizing: border-box;
    border-right:1px solid black;
}

.content {
    float:left;
    outline: 1px solid blue;
    width: 80%;
    box-sizing: content-box;
}