body {
    font-family: Avenir;
    font-size:14px;
}

p{
    font-size: 18px;
}

a {
    text-decoration: underlined;
    color: black;
}

.me {
	height: 50px;
	width: 50px;
	border-radius:50%;	
}

.sidebar {
    float:left;
    width: 10%;
    box-sizing: border-box;
}

.content {
    float:left;
    width: 60%;
    box-sizing: inherit;
    border-left:2px solid #D2D4D7;
}